.repo-item-container {
  display: grid;
  width: 70%;
  grid-template-columns: 160px 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image description icons";

  margin: 10px 5%;
  border: 1px solid black;
  border-radius: 5px;
}

.image-section {
  grid-area: image
}

.avatar {
  width: 150px;
}

.repo-info {
  grid-area: description;
}

.icons {
  grid-area: icons;
}


.icon-button {
  width: 20%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  
}

.icon {
  float: 0 0 50%;
  width:30px;
  margin-right: 3px;
}

.icon-button > span {
  float: 0 0 50%;
}